@page "/rossettings"
@using BlazorRoslib.Core.ROS;
@inject RoslibInterop RosInterop

<PageTitle>ROS-Einstellungen</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="my-3 p-3">
    <MudPaper Class="p-3">
        <MudTextField @bind-Value="RosInterop.RosHost" Label="Host" Variant="Variant.Outlined" Class="mb-2" />
        <MudNumericField @bind-Value="RosInterop.RosPort" Label="Port" Min="0" Max="65535" Variant="Variant.Outlined" Class="mb-2" />
        <h5>@RosInterop.ErrorMsg</h5>
        <h5>@navSatMsg</h5>
        <h5>@msg</h5>
        <h5>@otherMsg</h5>
     </MudPaper>
</MudContainer>

@code{
    private string? navSatMsg;
    private string? msg;
    private string? otherMsg;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RosInterop.OnStateHasChanged += (_) => InvokeAsync(StateHasChanged);
    }
}